{% extends 'layout.html.twig' %}

{% block title %}Readers index{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Readers</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('readers_index') }}">Readers</a></li>
              <li class="breadcrumb-item active">List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All Books</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="datatable" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Show</th>
                    <th>Edit</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for reader in readers %}
                  <tr>
                    <td>{{ reader.id }}</td>
                    <td>{{ reader.name }}</td>
                    <td>
                        <a href="{{ path('readers_show', {'id': reader.id}) }}" class="btn btn-block btn-sm btn-info">Show</a>
                    </td>
                    <td>
                        <a href="{{ path('readers_edit', {'id': reader.id}) }}" class="btn btn-block btn-sm btn-warning">Edit</a>
                    </td>
                  </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}


{% block javascripts %}
<script>
  $(function () {
    $("#datatable").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}