{% extends 'layout.html.twig' %}

{% block title %}Lease Book{% endblock %}

{% block content %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Lease A Book</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('book_index') }}">Books</a></li>
              <li class="breadcrumb-item active">Lease</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">The Book</h3>
              </div>
              <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Genre</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ book.id }}</td>
                            <td>{{ book.name }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.genre }}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
              
            </div>
            <!-- /.card -->
          </div>
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All allowed Readers</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="datatable" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Lease</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for reader in readers %}
                  <tr>
                    <td>{{ reader.id }}</td>
                    <td>{{ reader.name }}</td>
                    <td>
                        <a href="{{ path('book_lease2reader', {'id': book.id, 'rid': reader.id}) }}" class="btn btn-block btn-sm btn-info">Lease</a>
                    </td>
                  </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}

{% block javascripts %}
<script>
  $(function () {
    $("#datatable").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}